<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-3">&nbsp;</div>
      <div class="col-6">
        <form
          class="form-teamwork my-4"
          [formGroup]="form"
          (submit)="onSubmit()"
        >
          <div class="text-center mb-4">
            <img
              class="mb-4"
              src="/assets/images/logo.jpg"
              alt=""
              width="72"
              height="72"
            />
            <h1 class="mb-3 font-weight-normal text-center">Sign Up</h1>
          </div>

          <div class="form-label-group">
            <app-input-container
              [labelText]="'Full Name'"
              [labelFor]="'inputName'"
              [errors]="form.get('name').errors"
              [isFormSubmitted]="isSubmitted"
            >
              <input
                type="text"
                id="inputName"
                class="form-control"
                formControlName="name"
                #inputElem
              />
            </app-input-container>
          </div>

          <div class="form-label-group">
            <app-input-container
              [labelText]="'Email address'"
              [labelFor]="'inputEmail'"
              [required]="true"
              [errors]="form.get('email').errors"
              [isFormSubmitted]="isSubmitted"
            >
              <input
                type="text"
                id="inputEmail"
                class="form-control"
                formControlName="email"
                #inputElem
              />
            </app-input-container>
          </div>

          <div class="form-label-group">
            <app-input-container
              [labelText]="'Password'"
              [labelFor]="'inputPassword'"
              [required]="true"
              [errors]="form.get('password').errors"
              [isFormSubmitted]="isSubmitted"
            >
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                formControlName="password"
                #inputElem
              />
            </app-input-container>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
          </button>
          <p class="mt-5 mb-3 text-muted text-center">© 2017-2019</p>
        </form>
      </div>
      <div class="col-3">&nbsp;</div>
    </div>
  </div>
</div>
